/* 
────────────────
HTML customizing 
────────────────
*/
body {
  margin: 0;
  padding: 0;
  background-color: #191919;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

h3 {
  font-family: Gill Sans, sans-serif;
  font-variant: petite-caps;
  font-weight: 500;
  padding-top: 2.5%;
  font-size: 32px;
  display: flex;
  padding-left: 5.0%;
  padding-right: 5.0%;
}

img {
    max-width: 80%;
    max-height: 80%;
    margin-left: 5.0%;
}

a, u {
  color: dodgerblue;
  text-decoration: none;
}

/*
────────────────────────────────────
Custom components and general layout
────────────────────────────────────
*/

/* Dash app text */
.text-p {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  color: #FAFAFA;
  display: flex;
  padding-left: 5.0%;
  padding-right: 5.0%;
}

/* Dropdown formatting */
.fmt-dropdown {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5.0%;
  width: 90%;
  border-color:#90D5FF;
}

.fmt-dropdown > .Select-control {
  border: 2px solid #A3CAE9;
}

.fmt-button {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5.0%;
  padding-right: 5.0%;
}

.chart-layout {
  height: 100vh;
}

.four.columns {
  background-color: #000000;
}

.eight.columns, .row-2 {
  background-color: #191919;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.choropleth-map, .dash-graph {
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (min-width: 1000px) {

  .four.columns {
    width: 32.6666666667%;
  }

  .eight.columns {
    width: 66.3333333333%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

}

/*
───────────
Map styling
───────────
*/

/* CREDIT: https://community.plotly.com/t/plotly-6-map-attribution-box-positioning/91228 */
/* The following styles ensure the attribution tag floats above the map and should be removed
if the issue is fixed in a future plotly release. */
.maplibregl-ctrl-bottom-right {
  bottom: 10px;
  left: 10px;
  opacity: 0;
}

.maplibregl-ctrl-bottom-left, .maplibregl-ctrl-bottom-right, .maplibregl-ctrl-top-left, .maplibregl-ctrl-top-right {
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.maplibregl-map {
  font: 10px/16px Helvetica Neue,Arial,Helvetica,sans-serif;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.maplibregl-ctrl-attrib-inner {
  background-color: #FEF9F3;
  border-radius: 20px;
}

/* This is necessary to remove spacing below the canvas. */
.maplibregl-canvas {
  display: block;
}

.maplibregl-ctrl-attrib-button {
  visibility: hidden;
}

.hidethis {
  display: none;
  opacity: 0;
}


/*
──────────────────
dbc.Button styling
──────────────────
*/
[class*="primary"] {
  color: #FFFFFF;
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  background-color: #121214!important;
  border-color: #B1BED2!important;
}
[class*="primary"]:hover {
    background-color: dodgerblue!important;
}

[class*="secondary"] {
  color: #FFFFFF;
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  background-color: #121214!important;
  border-color: #B1BED2!important;
}
[class*="secondary"]:hover {
    background-color: indianred!important;
}

/*
─────────────────────
Initialization of app
─────────────────────
*/

._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

/*
──────────────────
Off-canvas styling
──────────────────
*/

/* Offcanvas */
#offcanvas {
  background-color: #191919;
  padding-right: 1%;
}

/* Offcanvas body text */
div.offcanvas-body {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  display: flex;
  color: #FAFAFA;
  padding-left: 5%;
  padding-right: 2%;
}

/* Offcanvas section title text */
span.off-canvas-title-text {
  font-size: 22px;
}

/* Offcanvas block quotes */
blockquote.off-canvas-block-quote {
  border-left: 3px solid dodgerblue;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Offcanvas vocabulary/key words */
span.off-canvas-vocab {
  color: #51A9FF;
}

/* Offcanvas critical words */
span.off-canvas-critical {
  color: indianred;
}

/* Offcanvas source list items */
li.off-canvas-source-list-item {
  font-size: 15px;
}

li.off-canvas-source-orderedlist-item {
  font-size: 15px;
  padding-left: 5px;
}


/*
────────────────────
Modal pop-up styling
────────────────────
*/

div.modal-div {
  align-content: center;
  text-align: center;
}

.modal-comp {
  margin-top: 10px;
}

.modal-title {
  font-family: Gill Sans, sans-serif;
  font-variant: petite-caps;
  font-weight:500;
  color: #FFFFFF;
}

.modal-body {
  font-family: Gill Sans, sans-serif;
  color: #E7E7E7;
  padding-bottom: 0;
}

.modal-image-caption {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  color: #FAFAFA;
  display: inline;
  text-decoration: none;
}